<div class="form col-md-12">
  <form (ngSubmit)="save()">
    <h2>Nova Pergunta</h2>

    <div class="form-group textarea">
      <label class="form-field__label" for="enunciado">Enunciado</label>
        <textarea
          class="form-control"
          id="enunciado"
          type="text"
          [(ngModel)]="pergunta.enunciado"
          name="descricao"
        ></textarea>
    </div>

    <div class="form-group double">
      <div>
        <label class="form-field__label" for="area">Area</label>
        <ng-multiselect-dropdown
          [placeholder]="'Selecionar Area'"
          [settings]="dropdownAreaSettings"
          [data]="areas"
          [(ngModel)]="area"
          name="area"
          (onSelect)="changeSelect('area')"
          (onDeSelect)="changeSelect('area')"
        >
        </ng-multiselect-dropdown>
    </div>
    <div>
      <label class="form-field__label" for="disciplina">Disciplina</label>
      <ng-multiselect-dropdown
          [placeholder]="'Selecionar Disciplina'"
          [settings]="dropdownDisciplinaSettings"
          [data]="disciplinas"
          [(ngModel)]="disciplina"
          name="disciplina"
          (onSelect)="changeSelect('disciplina')"
          (onDeSelect)="changeSelect('disciplina')"
        >
      </ng-multiselect-dropdown>
    </div>

    </div>

    <div class="form-group">
      <label class="form-field__label" for="respostas">Respostas</label>
      <ng-multiselect-dropdown
        [placeholder]="'Selecionar Respostas'"
        [settings]="dropdownRespostaSettings"
        [data]="respostas"
        [(ngModel)]="possiveisRespostas"
        (onSelect)="changeSelect('resposta')"
        (onDeSelect)="changeSelect('resposta')"
        [disabled]=" !disciplina || !disciplina.length"
        name="respostas"
      >
      </ng-multiselect-dropdown>
    </div>

    <div class="btn-wrapper">
      <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
    </div>
  </form>
</div>
<div class="listing">
  <div class="panel-heading">
    <h2>Perguntas Cadastradas</h2>
  </div>
  <div class="list panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Disciplina</th>
          <th>Enunciado</th>
          <th>Gerenciamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pergunta of perguntas">
          <td class="col-md-2">{{ pergunta.disciplina.nome }}</td>
          <td class="col-md-7"><a routerLink="{{pergunta.id}}">{{ pergunta.enunciado }}</a></td>
          <td class="col-md-3">
            <button (click)="delete(pergunta.id)" class="btn btn-sm btn-del col-sm-5">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



