html, body {
  min-height: 100vh;
}

body {
  background-color: #D7E8D2;
  display: flex;
}

.container {
  margin: 15px 50px 15px 25px;
  flex: 1;
}

.sidebar {
  background-color: #F2F6F2;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin: 0 25px 0 0px;
}

.sidebar nav {
  width: 100%;
  position: sticky;
  top: 0;
}

.sidebar ul {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.sidebar li {
  padding: 10px 40px;
  background-color: #38613A;
  transition: 0.3s;
  border-bottom: 2px solid #49624B ;
}

.sidebar a:last-child li {
  border-bottom: none;
}

.sidebar li.active {
  background-color: #4CAF50;
}

.sidebar ul a {
  text-decoration: none;
  color: #E3E8E3;
  font-size: larger;
  font-weight: bold;
}

.sidebar li:hover {
  background-color: #5E9A5F;
  transition: 0.3s;
}

.sidebar img {
  max-width: 240px;
  margin-bottom: 0.7rem;
  padding: 10px;
}
