<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="sidebar">
      <img src="/assets/Cucumber.png">
      <h1>{{ title }}</h1>
      <ul>
        <a routerLink="alunos"><li [class.active]="isActive('/alunos') || !isActive('')">Alunos</li></a>
        <a routerLink="avaliacoes"><li [class.active]="isActive('/avaliacoes')">Avaliações</li></a>
        <a routerLink="trilhas"><li [class.active]="isActive('/trilhas')">Trilhas</li></a>
        <a routerLink="disciplinas"><li [class.active]="isActive('/disciplinas')">Disciplinas</li></a>
      </ul>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
