<div class="form col-md-4">
  <form (ngSubmit)="save()">
    <h2>Nova Resposta</h2>

    <div class="form-group">
      <label class="form-field__label" for="areaId">Area</label>
        <select
          class="form-control"
          id="areaId"
          type="select"
          [(ngModel)]="resposta.areaId"
          name="areaId"
        >
          <option *ngFor="let area of areas" [ngValue]="area.id">{{area.nome}}</option>
        </select>
    </div>

    <div class="form-group textarea">
      <label class="form-field__label" for="resposta">Resposta</label>
        <textarea
          class="form-control"
          id="resposta"
          type="text"
          [(ngModel)]="resposta.resposta"
          name="resposta"
        ></textarea>
    </div>

    <div class="btn-wrapper">
      <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
    </div>
  </form>
</div>
<div class="listing">
  <div class="panel-heading">
    <h2>Respostas Cadastradas</h2>
  </div>
  <div class="list panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Área</th>
          <th>Resposta</th>
          <th>Gerenciamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resposta of respostas">
          <td class="col-md-2">{{ getAreaName(resposta.areaId) }}</td>
          <td class="col-md-8">{{ resposta.resposta }}</td>
          <td class="col-md-2">
            <button (click)="openModal(resposta)" class="btn btn-sm btn-primary col-sm-5">Editar</button>
            <button (click)="delete(resposta.id)" class="btn btn-sm btn-del col-sm-5">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-overlay" *ngIf="modalIsVisible">
    <div class="modal-container" >
      <Strong>Editar Resposta</Strong>
      <button class="close-button" (click)="closeModal()"><span>X</span></button>
      <form (ngSubmit)="edit()">
        <div class="form-group">
          <label class="form-field__label" for="areaId">Area</label>
            <select
              class="form-control"
              id="areaId"
              type="select"
              [(ngModel)]="updatedResposta.areaId"
              name="areaId"
            >
              <option *ngFor="let area of areas" [value]="area.id">{{area.nome}}</option>
            </select>
        </div>

        <div class="form-group textarea">
          <label class="form-field__label" for="resposta">Resposta</label>
            <textarea
              class="form-control"
              id="resposta"
              type="text"
              [(ngModel)]="updatedResposta.resposta"
              name="resposta"
            ></textarea>
        </div>

        <div class="btn-wrapper">
          <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>



