<div class="form col-md-8">
  <form (ngSubmit)="save()">
    <h2>Nova Resposta</h2>

    <div class="form-group">
      <label class="form-field__label" for="disciplina">Disciplina</label>
      <ng-multiselect-dropdown
        [placeholder]="'Selecionar Disciplina'"
        [settings]="dropdownSettings"
        [data]="disciplinas"
        [(ngModel)]="disciplina"
        name="disciplina"
      >
      </ng-multiselect-dropdown>
    </div>

    <div class="form-group textarea">
      <label class="form-field__label" for="conteudo">Conteudo</label>
        <textarea
          class="form-control"
          id="conteudo"
          type="text"
          [(ngModel)]="resposta.conteudo"
          name="conteudo"
        ></textarea>
    </div>

    <div class="btn-wrapper">
      <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
    </div>
  </form>
</div>
<div class="listing">
  <div class="panel-heading">
    <h2>Respostas Cadastradas</h2>
  </div>
  <div class="list panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Disciplina</th>
          <th>Conteudo</th>
          <th>Gerenciamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resposta of respostas">
          <td class="col-md-2">{{ resposta.disciplina.nome }}</td>
          <td class="col-md-8">{{ resposta.conteudo }}</td>
          <td class="col-md-2">
            <button (click)="openModal(resposta)" class="btn btn-sm btn-primary col-sm-5">Editar</button>
            <button (click)="delete(resposta.id)" class="btn btn-sm btn-del col-sm-5">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-overlay" *ngIf="modalIsVisible">
    <div class="modal-container" >
      <Strong>Editar Resposta</Strong>
      <button class="close-button" (click)="closeModal()"><span>X</span></button>
      <form (ngSubmit)="edit()">
        <div class="form-group">
          <label class="form-field__label" for="disciplina">Disciplina</label>
          <ng-multiselect-dropdown
            [placeholder]="'Selecionar Disciplina'"
            [settings]="dropdownSettings"
            [data]="disciplinas"
            [(ngModel)]="updatedDisciplina"
            name="disciplina"
          >
          </ng-multiselect-dropdown>
        </div>


        <div class="form-group textarea">
          <label class="form-field__label" for="conteudo">Conteúdo</label>
            <textarea
              class="form-control"
              id="conteudo"
              type="text"
              [(ngModel)]="updatedResposta.conteudo"
              name="conteudo"
            ></textarea>
        </div>

        <div class="btn-wrapper">
          <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>



