<div class="form col-md-4">
  <form (ngSubmit)="save()">
    <h2>Nova Avaliação</h2>

    <div class="form-group">
      <label class="form-field__label" for="date">Data</label>
      <input
        class="form-control"
        id="data"
        type="date"
        [(ngModel)]="avaliacao.data"
        name="data"
      />
    </div>

    <div class="form-group">
      <label class="form-field__label" for="descricao">Descrição</label>
      <textarea
        class="form-control"
        id="descricao"
        type="text"
        [(ngModel)]="avaliacao.descricao"
        name="descricao"
      ></textarea>
    </div>

    <label class="form-field__label" for="gestor">Gestor</label>
    <ng-multiselect-dropdown
    [placeholder]="'Selecionar Gestor'"
    [settings]="dropdownSettings"
    [data]="gestores"
    [(ngModel)]="gestor"
    name="gestor"
  >
    </ng-multiselect-dropdown>

    <div class="btn-wrapper">
      <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
    </div>
  </form>
</div>
<div class="listing">
  <div class="panel-heading">
    <h2>Avaliações Cadastradas</h2>
  </div>
  <div class="list panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Gestor</th>
          <th>Detalhes</th>
          <th>Gerenciamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let av of avaliacoes">
          <td class="col-md-2">{{ av.data | date: "dd/MM/yyyy" }}</td>
          <td class="col-md-5">{{ av.descricao }}</td>
          <td class="col-md-2">{{ av.gestor.nome }}</td>
          <td class="col-md-1"><a routerLink="/avaliacoes/{{av.id}}" ><span class="material-icons-round">help</span></a></td>
          <td class="col-md-2">
            <button (click)="openModal(av)" class="btn btn-sm btn-primary col-sm-5">Editar</button>
            <button (click)="delete(av.id)" class="btn btn-sm btn-del col-sm-5">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="modal-overlay" *ngIf="modalIsVisible">
      <div class="modal-container" >
        <Strong>Editar Avaliação</Strong>
        <button class="close-button" (click)="closeModal()"><span>X</span></button>

        <form (ngSubmit)="edit()">
          <div class="form-group">
            <label class="form-field__label" for="data">Data</label>
            <input
              class="form-control"
              id="data"
              type="date"
              [(ngModel)]="updatedAvaliacao.data"
              name="data"
            />
          </div>

          <div class="form-group">
            <label class="form-field__label" for="descricao">Descrição</label>
            <textarea
              class="form-control"
              id="descricao"
              type="text"
              [(ngModel)]="updatedAvaliacao.descricao"
              name="descricao"
            ></textarea>
          </div>

          <label class="form-field__label" for="updatedGestor">Gestor</label>
          <ng-multiselect-dropdown
          [placeholder]="'Selecionar Gestor'"
          [settings]="dropdownSettings"
          [data]="gestores"
          [(ngModel)]="updatedGestor"
          name="updatedGestor"
        >
          </ng-multiselect-dropdown>

          <div class="btn-wrapper">
            <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
