<div class="form col-md-4">
  <form (ngSubmit)="save()">
    <h2>Nova Avaliação</h2>

    <div class="form-group">
      <label class="form-field__label" for="date">Data</label>
      <input
        class="form-control"
        id="date"
        type="date"
        [(ngModel)]="avaliacao.data"
        name="date"
      />
    </div>

    <div class="form-group">
      <label class="form-field__label" for="description">Descrição</label>
      <textarea
        class="form-control"
        id="description"
        type="text"
        [(ngModel)]="avaliacao.descricao"
        name="description"
      ></textarea>
    </div>

    <div class="btn-wrapper">
      <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
    </div>
  </form>
</div>
<div class="listing">
  <div class="panel-heading">
    <h2>Avaliações Cadastradas</h2>
  </div>
  <div class="list panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Gerenciamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let av of avaliacoes">
          <td class="col-md-2">{{ av.data | date: "dd/MM/yyyy" }}</td>
          <td class="col-md-8">{{ av.descricao }}</td>
          <td class="col-md-2">
            <button (click)="openModal(av)" class="btn btn-sm btn-primary col-sm-5">Editar</button>
            <button (click)="delete(av.id)" class="btn btn-sm btn-del col-sm-5">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="modal-overlay" *ngIf="modalIsVisible">
      <div class="modal-container" >
        <Strong>Editar Avaliação</Strong>
        <button class="close-button" (click)="closeModal()"><span>X</span></button>

        <form (ngSubmit)="edit()">
          <div class="form-group">
            <label class="form-field__label" for="date">Data</label>
            <input
              class="form-control"
              id="date"
              type="date"
              [(ngModel)]="updatedAvaliacao.date"
              name="date"
            />
          </div>

          <div class="form-group">
            <label class="form-field__label" for="description">Descrição</label>
            <textarea
              class="form-control"
              id="description"
              type="text"
              [(ngModel)]="updatedAvaliacao.description"
              name="description"
            ></textarea>
          </div>

          <div class="btn-wrapper">
            <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
