<div class="form col-md-4">
  <form (ngSubmit)="save()">
    <h2>Nova Disciplina</h2>

    <div class="form-group">
      <label class="form-field__label" for="nome">Nome</label>
        <input
          class="form-control"
          id="nome"
          type="nome"
          [(ngModel)]="disciplina.nome"
          name="nome"
        />
    </div>

    <label class="form-field__label" for="nome">Áreas</label>
    <ng-multiselect-dropdown
    [placeholder]="'Selecionar áreas'"
    [settings]="dropdownSettings"
    [data]="areas"
    [(ngModel)]="areasSelecionadas"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    name="disciplinas"
  >
    </ng-multiselect-dropdown>

    <div class="btn-wrapper">
      <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
    </div>
  </form>
</div>
<div class="listing">
  <div class="panel-heading">
    <h2>Disciplinas Cadastradas</h2>
  </div>
  <div class="list panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Área</th>
          <th>Gerenciamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let disciplina of disciplinas">
          <td class="col-md-8">{{ disciplina.nome }}</td>
          <td class="col-md-2">{{ formatArea(disciplina.areas)}}</td>
          <td class="col-md-2">
            <button (click)="openModal(disciplina)" class="btn btn-sm btn-primary col-sm-5">Editar</button>
            <button (click)="delete(disciplina.id)" class="btn btn-sm btn-del col-sm-5">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-overlay" *ngIf="modalIsVisible">
    <div class="modal-container" >
      <Strong>Editar Disciplinas</Strong>
      <button class="close-button" (click)="closeModal()"><span>X</span></button>
      <form (ngSubmit)="edit()">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            placeholder="Nome"
            [(ngModel)]="updatedDisciplina.nome"/>
        </div>

        <label class="form-field__label" for="areas">Áreas</label>
        <ng-multiselect-dropdown
        [placeholder]="'Selecionar área'"
        [settings]="dropdownSettings"
        [data]="areas"
        [(ngModel)]="updatedArea"
        (onSelect)="onItemSelect($event)"
        name="area"
      >
        </ng-multiselect-dropdown>

        <div class="btn-wrapper">
          <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>



