<div class="form col-md-4">
    <form (ngSubmit)="save()">
      <h2>Novo Aluno</h2>

      <div class="form-group">
        <label class="form-field__label" for="matricula">Matricula</label>
        <input
          class="form-control"
          id="matricula"
          type="text"
          [(ngModel)]="aluno.matricula"
          name="matricula"
        />
      </div>

      <div class="form-group">
        <label class="form-field__label" for="nome">Nome</label>
        <input
          class="form-control"
          id="nome"
          type="text"
          [(ngModel)]="aluno.nome"
          name="nome"
        />
      </div>

      <div class="form-group">
        <label class="form-field__label" for="telefone">Telefone</label>
        <input
          class="form-control"
          id="telefone"
          type="text"
          [(ngModel)]="aluno.telefone"
          name="telefone"
        />


      </div>

      <div class="form-group">
        <label class="form-field__label" for="email">Email</label>
        <input
          class="form-control"
          id="email"
          type="text"
          [(ngModel)]="aluno.email"
          name="email"
        />
      </div>



    <div class="form-group">
      <label class="form-field__label" for="descricao">Descricao</label>
      <input
        class="form-control"
        id="descricao"
        type="text"
        [(ngModel)]="aluno.descricao"
        name="descricao"
      />
    </div>


    <div class="btn-wrapper">
        <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
      </div>
  </form>
</div>
  <div class="list panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Matricula</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Descrição</th>
          <th>Gerenciamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let al of alunos">
          <td class="col-md-2">{{ al.matricula }}</td>
          <td class="col-md-2">{{ al.nome }}</td>
          <td class="col-md-2">{{ al.telefone }}</td>
          <td class= "col-md-2">{{ al.email }}</td>
          <td class= "col-md-2">{{ al.descricao }}</td>
          <td class="col-md-2">
            <button (click)="openModal(al)" class="btn btn-sm btn-primary col-sm-5">Editar</button>
            <button class="btn btn-sm btn-del col-sm-5" (click)="delete(al.matricula)">Excluir</button></td>
        </tr>
      </tbody>
    </table>

    <div class="modal-overlay" *ngIf="modalIsVisible">
      <div class="modal-container" >
        <Strong>Editar Aluno</Strong>
        <button class="close-button" (click)="closeModal()"><span>X</span></button>

        <form (ngSubmit)="edit()">
          <div class="form-group">
            <label class="form-field__label" for="nome">Nome</label>
            <input
              class="form-control"
              id="nome"
              type="text"
              [(ngModel)]="updatedAluno.nome"
              name="nome"
            />
          </div>

          <div class="form-group">
            <label class="form-field__label" for="telefone">Telefone</label>
            <input
              class="form-control"
              id="telefone"
              type="text"
              [(ngModel)]="updatedAluno.telefone"
              name="telefone"
            />
          </div>

          <div class="form-group">
            <label class="form-field__label" for="email">Email</label>
            <input
              class="form-control"
              id="email"
              type="text"
              [(ngModel)]="updatedAluno.email"
              name="email"
            />
          </div>
          <div class="form-group">
            <label class="form-field__label" for="descricao">Descricao</label>
            <input
              class="form-control"
              id="descricao"
              type="text"
              [(ngModel)]="updatedAluno.descricao"
              name="descricao"
            />
          </div>

          <div class="btn-wrapper">
            <button class="btn btn-primary col-md-3" type="submit">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

