h2 {
  text-align: center;
  margin-bottom: 0.7rem;
}

.form {
  margin: 0 auto 15px;
}

.form label {
  font-weight: bold;
}

.listing {
  margin-top: 15px;
}

.form, .listing {
  padding: 15px;
  background-color: #F2F6F2;
  border-radius: 10px;
  box-shadow: 0 0 8px rgb(0 0 0 / 10%);
}

/* Escondendo as setinhas do input de number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-wrapper>* {
  flex-grow: 1;
  max-width: 49%;
}

.form-group.textarea {
  display: flex;
  flex-direction: column;
}

.form-group textarea {
  height: 100%;
  resize: none;
  overflow: hidden;
}

.btn-wrapper {
  text-align: center;
  margin-top: 15px;
}

.btn-primary {
  background-color: #5E9A5F;
  border-color: #5E9A5F;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #D7E8D2;
  border-color: #D7E8D2;
}

table .btn-primary {
  margin-right: 5px;
}

.btn-del {
  background-color: #FF7276;
  border-color: #FF7276;
  color: #f1f1f1;
  font-weight: bold;
}

.btn-del:hover {
  background-color: #FF9DA7;
  border-color: #FF9DA7;
}

.modal-overlay {
  background: rgba(25, 26, 32, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.modal-container {
  background: #fff;
  width: 100%;
  max-width: 25rem;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 0 3.75rem rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;

  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  border: 0;

  float: right;

  font-size: 1rem;
  font-weight: 700;
  color: #c52a19;

  transition: 0.3s;
}

.close-button:hover {
  background: #b12516;
  color: #fff;
}

.close-button:active {
  background: #9f2113;
}

.close-button span {
  font-weight: bold;
}

